.festival {
  display: block;
  width: 75%;
  margin:0 auto;
  text-align: center;

  @include desktop {
    width: 65%;
  }
}

.festival__img {
  width: 100%;

  @include desktop {
    width: 65%;
  }
}

.festival__text {
  font-size: 1rem;
  text-align: center;
}

.festival__blockquote {
  padding: 0.5em 10px;
  margin: 1.5em 10px;
  font-size: 2rem;
  font-weight: 600;
  quotes: "\201C""\201D""\2018""\2019";
  background: #f9f9f9;
  border-left: 10px solid #ccc;

  &::before {
    font-size: 4em;
    color: #ccc;
  }
}

.festival__list {
  display: inline-block;
  font-size: 3rem;
  list-style-type: circle;
}

.list-group {
  padding: 20px;
}